<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" manifest="manifest.webmanifest">
<head th:replace="blocks/fragments :: head('Admin panel - OKOYO', 'none')">   <link rel="manifest" href="/manifest.webmanifest">
<meta name = "theme-color" content="#FFFFFF">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script></head>

<body>
<div th:insert="~{blocks/fragments :: scripts}"></div>
<div th:replace="blocks/fragments :: admin_navbar"></div>
<div class="container-fluid">
    <br>
    <h2 class="text-center mt-5">Welcome admin!<br> Use navbar to manage the DataBase!</h2>
</div>


<!--<script type="text/javascript">-->
<!--    if ('serviceWorker' in navigator) {-->
<!--        window.addEventListener('load', function() {-->
<!--            navigator.serviceWorker.register('/service-worker.js').then(function(registration) {-->
<!--                // Registration was successful-->
<!--                console.log('ServiceWorker registration successful with scope: ', registration.scope);-->
<!--            }, function(err) {-->
<!--                // registration failed :(-->
<!--                console.log('ServiceWorker registration failed: ', err);-->
<!--            });-->
<!--        });-->
<!--    }-->
<!--</script>-->
</body>
</html>